*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #dcccbd;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px;
}
.logo img{
    width: 200px;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #051b4a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 5px;
    margin: 0 22px;
    border-bottom: 2px solid transparent;
    transition: all .42s;   
}
.navlist a:hover{
    color: #051b4a;
    border-bottom: 2px solid #fff;
}
.home-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #051b4a;
    background-color: #051b4a;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all .42s;
}
.home-btn:hover{
    background-color: transparent;
    color: #051b4a;
    border: 2px solid #051b4a;
}

/* Login */
.container{
    max-width: 3000px;
    height: 580px;
    background-color: #83919c;
    margin-top: 11rem;
    padding: 15px;
    box-sizing: border-box;
}
.box {
    max-width: 900px;
    height: 450px;
    background-color: #7e8042;
    margin: auto;
    margin-top: 3rem;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
.box h1 {
    color: #051b4a;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
.input {
    list-style-type: none;
	text-align: center;
    padding-top: 5px;
	padding-bottom: 15px;
    font-size: 20px;
}
input {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.submit {
    background-color: transparent;
	color: black;
	border: 1px solid black;
	width: 50%;
	font-size: 20px;
	transition: 0.9s ease;
	align-items: center;
    border-radius: 10px;
}
.submit:hover {
    background-color: #83919c;
	color: black;
	border: 1px solid black;
	font-size: 20px;
    align-items: center;
}
.error {
    color: rgb(172, 13, 13);
    font-size: 15px;
    display: block;
    text-align: center;
}
.error-message {
    background-color: rgb(172, 13, 13);
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.success-message {
    background-color: rgb(11, 167, 11);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

/* Footer */
footer h1 {
    color: #7e8042;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
footer p {
    color: #051b4a;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footerlogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    transition: all .40s;
    align-items: center;
}